__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml

# DB
*.sqlite3

# Git
.git/
.gitignore

# Tests
.pytest_cache/
.coverage
htmlcov/
